// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');


// Colors
$light-blue: #EFF7FF;
$blue-gray-900: #0F172A;
$base-blue: #007EFF;
$muted: #606779;

$navbar-height: 90px;
$main-height: calc(100vh - $navbar-height);

@mixin flex-center ($direction: row) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: $direction;
}

@mixin flex-between ($direction: row) {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: $direction;
}

@mixin modal-background {
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	background-color: #AFAFAF4D;
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	transform: scale(0);
	transition: .3s ease;
	@include flex-center;
}